.house-card-wrapper {
  color: var(--dark);
}
.usernote-icons {
  display: flex;
  width: 2rem;
  height: 2rem;
}
.important-note:focus,
.other-note:focus {
  outline: 0.2rem solid var(--warm);
}
.important-note {
  border: solid;
  border-width: 0.2rem;
  background-color: var(--note);
  border-color: var(--dark);
  margin: 0 0.5rem 0;
}
.other-note {
  border: solid;
  border-width: 0.2rem;
  background-color: var(--note);
  border-color: var(--note);
  margin: 0 0.5rem 0;
}
.short-notes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.short-notes-pair {
  display: flex;
}
.short-note {
  display: flex;
}
.desc-note {
  display: flex;
}
.desc-note img {
  margin: 0.5rem 0;
}
label {
  font-size: 1rem;
}
.inspection {
  display: flex;
  justify-content: center;
}
.action-buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.action-button {
  cursor: pointer;
  background-color: var(--dark);
  border-color: var(--dark);
  color: var(--note);
}
.action-button:hover {
  background-color: var(--red);
  border-color: var(--red);
}
.success-msg {
  font-size: 0.9rem;
  color: var(--success);
  margin-left: 2rem;
  font-weight: bold;
}
