.house-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 300px;
  /* helps inner columns to strech vertically */
  flex-direction: column;
  min-height: 400px;
  border: solid var(--light);
  padding: 1rem;
}
.house-card-wrapper div {
  margin-bottom: 0.3rem;
}
.house-card-wrapper img {
  margin: 0 0.3rem;
}
.property-type {
  color: var(--red);
  font-weight: bold;
  font-style: oblique;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.magnifying-glass {
  width: 2rem;
  height: 2rem;
}
.magnifying-glass img {
  margin: 0.5rem 0;
}
.spec {
  width: 2rem;
  height: 2rem;
}
.inspection {
  display: flex;
  justify-content: center;
  align-items: center;
}
#inspection-sch {
  font-size: 1rem;
}
