.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.house-list {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  color: darkgrey;
}

.urls-to-add {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;
  margin: 1rem;
}
form > #get-house-button {
  margin-top: 0.5rem;
}
/* update colour later */
form > #get-house-button:hover {
  background-color: chocolate;
  color: beige;
}
.url {
  margin-top: 0.2rem;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
