.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--dark);
  padding: 1rem;
}
.house-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  /* width: 100%; */
  /* fixed height regardless of length of address */
  align-items: stretch;
}

@media (max-width: 950px) {
  /* :root {
    --base-font-size: 1.5rem;
  } */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .App-header {
  width: 100vw;
} */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
