:root {
  --base: #faf7f0;
  --red: #b17457;
  /* --white: #faf7f0; */
  --note: #f9f1eb;
  --dark: #4a4947;
  --warm: #776b5d;
  --light: #b0a695;
  --success: #3e7a5e;
  --green: #c2dccb;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--base);
  color: var(--dark);
  padding: 0 1rem;
}
.house-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  /* fixed height regardless of length of address */
  align-items: stretch;
  background-color: var(--base);
}

.urls-to-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
form > #get-house-button {
  margin-top: 0.5rem;
  background-color: var(--warm);
  border-color: var(--warm);
  color: var(--note);
  padding: 0.3rem 3rem;
  cursor: pointer;
}
form > #get-house-button:hover {
  background-color: var(--red);
  border-color: var(--red);
}
.url {
  margin-top: 0.2rem;
  width: 30rem;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .App-header {
  width: 100vw;
} */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
