:root {
  --base-font-size: 1.2rem;
  --base: #faf7f0;
  --red: #b17457;
  /* --white: #faf7f0; */
  --note: #f9f1eb;
  --dark: #4a4947;
  --warm: #776b5d;
  --light: #b0a695;
  --success: #3e7a5e;
  --green: #c2dccb;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--base-font-size);
  /* height: 100vh; */
  background-color: var(--base);
}
